<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Agregar Hardware</title>
</head>

<body>
    <h1>Agregar Equipo</h1>
    <!-- Formulario para agregar un impresora -->
    <form class="form-alineado" action="/agregar_hardware" method="post">
        <div>
            <label for="edificio">Edificio:</label>
            <select name="edificio" id="edificio" onchange="actualizarPisos()" required>
                <option value="">Seleccione un edificio</option>
                <option value="Peru">Peru</option>
                <option value="Lima">Lima</option>
                <option value="CAU">CAU</option>
                <option value="ISER">ISER</option>
                <option value="CCTE">CCTE</option>
                <option value="Museo">Museo</option>
                <option value="Deposito Mataderos">Deposito Mataderos</option>
                <option value="Deposito Saldias">Deposito Saldias</option>
            </select>
            <label for="piso">Piso:</label>
            <select name="piso" id="piso" required>
                <option value="">Seleccione un piso</option>
            </select>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" placeholder="nombre" required>
            <label for="inventario">Número de Inventario:</label>
            <input type="text" id="inventario" name="inventario" placeholder="(opcional)">
            <label for="numero_serie">Número de Serie:</label>
            <input type="text" id="numero_serie" name="numero_serie" placeholder="(opcional)">
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" placeholder="Usuario">
            <label for="descripcion">Descripcion:</label>
            <input type="text" name="descripcion" placeholder="(opcional)">
        </div>

        <button type="submit">Agregar Equipo</button>
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>