<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>{% block title %}Sistema de inventario soporte{% endblock %}</title>
</head>

<body>
    <!-- Barra de navegación superior -->
    <div class="top-bar">
        <!-- <div class="logo">
            <img src="{{ url_for('static', filename='logo-enacom-nuevo.png') }}" alt="Logo">
        </div> -->
        <div class="nav-left">
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}"><i class="fas fa-home"></i>Inicio</a></li>
                <li><a href="{{ url_for('equipos_aios') }}"><i class="fas fa-desktop"></i>Equipos Aios</a></li>
                <li><a href="{{ url_for('notebooks') }}"><i class="fas fa-laptop"></i>Notebooks</a></li>
                <li><a href="{{ url_for('impresoras') }}"><i class="fas fa-print"></i>Impresoras</a></li>

                <!-- Menú desplegable Reclamos -->
                <li class="dropdown">
                    <a href="#"><i class="fas fa-exclamation-circle"></i>Reclamos</a>
                    <ul class="dropdown-content">
                        <li><a href="{{ url_for('reclamos_b') }}">Reclamos Bangho</a></li>
                        <li><a href="{{ url_for('reclamos_e') }}">Reclamos External</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Opciones alineadas a la derecha -->
        <div class="nav-right">
            <ul class="nav-links">
                <li><a href="#"><i class="fas fa-user"></i>Perfil</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</a></li>
            </ul>
        </div>
    </div>

    <!-- Contenido dinámico -->
    <div class="content">
        {% block content %}
        <h1>Bienvenido</h1>
        <p>agregar contador de cantidad total equipos aios, notebooks e impresoras.</p>
        {% endblock %}
    </div>

    <!-- Barra inferior con logo -->
    <div class="bottom-bar">
        <text>@lnmunioz</text>
        <img src="{{ url_for('static', filename='logo-enacom-nuevo.png') }}" alt="Logo Inferior">
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>